# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Outputs & Generated Artifacts
outputs/
*.png
*.jpg
*.jpeg

# Installer / Binary temporary files
vc_redist.x64.exe
*.exe

# Environment & Secrets
.env
.env.local

# Jupyter / Colab Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
